.App {
  text-align: center;
  overflow-y: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.content {
  display: flex;
}

.matrix-display{
  width: 100%;
}

.pixel-grid {
  margin: 2vw 0vw 0vw 0vw
}

.cache-stats {
  margin: 1vw 0vw 0vw 0vw
}

h1 {
  padding: 1vw
}

#teleport-ui {
  padding-top: 10vw;
  min-width: 15vw;
}

.teleport-dropdown {
  margin: 0.5vw;
}

#help-modal {
  position: absolute;
  right: 3%;
  top: 3%;
  margin-right: 4vw
}